
/*================== RESET ====================*/

* { margin:0; padding:0;
	/*border: 1px solid #AAA;*/
}

img, div, header { display: block; }

html {
    background: url("../img/back.jpg") no-repeat center fixed;
    background-size: cover;
		/*background: url("../img/back-b.jpg") no-repeat center fixed;*/
	   	/*background-size: cover;*/
}

body {
	line-height: 1.4;
	font-size: 90%;
	color: #fff;
	font-family: "helvetica_neu", Tahoma, Arial, SansSerif;
	font-weight: 400;
	font-style: normal;
	overflow: hidden;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 38px;
    left: 0;
}

/*================================== MENU ===============*/

div.menu-container{
	position: absolute;
	left:0;
	right: 0;

}

ul.menubar {
	display: block;
	position: relative;
	left: calc(50% - 340px);
	list-style: none;
}

ul.menubar>li {
	display: inline-block;
}

ul.menubar>li>a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #8be;
	font-weight: 500;
	font-size: 11pt;
}

ul.menubar>li>a:hover {
	background-color: #69c;
	color: #fff;
	/*padding: 8px 19px;*/
	/*border-right: 1px solid #AAA;*/
	/*border-left: 1px solid #AAA;*/
}

ul.menubar>li>a:focus{
	color: #fff;
	border-left: 1px solid #79b;
	border-right: 1px solid #79b;
	padding: 8px 14px;
	background: -webkit-linear-gradient(#50b4e3, #2c74bb);
	background: -o-linear-gradient(#50b4e3, #2c74bb);
	background: linear-gradient(#50b4e3, #2c74bb);
	outline: none;
}


.flag{
	/*display: table-cell;*/
	display: inline-block;
	vertical-align: bottom;
	padding-left: 6px;
	border-left: 1px solid #79b;
	line-height: 0.0;
}

.under{
	border-bottom: 1px solid #fff;
}

/*======================================== PLATE*/

div.container{
	/*display: none;*/
	position: absolute;
	/*left: -webkit-calc(50% - 280px);*/
	/*top: -webkit-calc(50% - 330px);*/
	left: calc(50% - 280px);
	top: calc(50% - 335px);
	width: 560px;
}

.plate{
	background-color: rgba(0, 0, 0, 0.7);
}

div.plate1{
	height: 63px;
	margin-bottom: 2px;
}

div.plate2{
	height: 530px;
	padding-top: 20px; 
}

h3{
	text-align: center;
	font-weight: 500;
    font-style: normal;
    font-family: 'helvetica_neu-ext';
	padding-top: 13pt;
	color:#fff;
	vertical-align: middle;
	font-size: 160%;
	letter-spacing: 2px;
}

/* ==================== PLATE 2 ========= */

.cntr{
	display: block;
	width: 280px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
}

.cmenu{
	font-weight: 400;
	font-size: 11pt;
}

.frm{
	box-sizing: border-box;
	padding: 0px 10px 0px 13px;
	background-color: #111;
	color: #eee;
	border: 0px;
	border-bottom: 1px solid #444;
}

.frm:focus{
	color: #fff;
	box-shadow: 0px 0px 15px #88bbff;
	/*box-shadow: inset 0 0 6px 0px #136;*/
	outline: none;
}

.btn {
	width: 150px;
	height: 34px;
	border: 0px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 11pt;
	color: #fff;
	cursor:pointer
}

.chkbox{
	text-align: center;
	color: #aaa;
}


span.ou{
	display: block;
	left: 0px;
	right: 0px;
	/*margin: auto;*/
	text-align: center;
	color: #888;
}

span.ou > div{
	display: inline-block;
	width: 117px;
	height: 1px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #777;
	margin: 4px 6px;
}


.txt-policy{
	width: 250px;
	text-align: center;
	font-family: 'helvetica_neu-ext';
	font-size: 75%;
	color: #aaa;
}

/* The background noise bit is below */
.noise, .frm:focus {background-color: #074f8f; 
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);}


.grad-blu{
	background: -webkit-linear-gradient(#50b4e3, #2c74bb);
	background: -o-linear-gradient(#50b4e3, #2c74bb);
	background: linear-gradient(#50b4e3, #2c74bb);
}


.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
